<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML / CSS</title>
    <link rel="stylesheet" href="template/styles.css">
    <link rel="stylesheet" href="template/media-queries.css">
</head>
<body>
    <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">Ht</section>
                <section id="header_center">Hc</section>
                <section id="header_bottom">Hb</section>
            </header>
            <section id="left">
                <div>
                    <div class="news-wrapper">
                        <div class="newsItem" id="nImg">News Img</div>
                        <div class="newsItem" id="nTitle">News title</div>
                        <div class="newsItem" id="nAuthor">author</div>
                    </div>
                    <div id="item-wrapper">
                        <div class="item">
                            <div class="itemImg">Img1</div>
                            <div class="itemTitle">title1</div>
                        </div>
                        <div class="item">
                            <div class="itemImg">Img2</div>
                            <div class="itemTitle">title2</div>
                        </div>
                        <div class="item">
                            <div class="itemImg">Img3</div>
                            <div class="itemTitle">title3</div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="right">R</section>
            <div class="clearfix"></div>
            <footer>F</footer>
        </div>

    </div>
</body>
</html>