<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
    <style>
        article { width: 50%; display: none; }
        h1 { cursor: pointer; width: 80px; }
    </style>
</head>
<body>
    <h1>JS</h1>
    <article>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias maxime sint veritatis perspiciatis minus mollitia repudiandae aliquam dolore! Animi magni eos iure quam reprehenderit voluptatum est rem ipsum ea? Quis?</article>
    
    <h1>jQuery</h1>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, neque dolores adipisci nam sequi, iusto explicabo alias delectus harum omnis temporibus voluptas consequatur, voluptatibus sunt id a modi quis repellat.</article>
    
    <input type="text" id="txtUsername" placeholder="Username">
    <button id="btnTest">Test</button>

    <ul id="list">
        <li>Elem1</li>
        <li>Elem2</li>
        <li>Elem3</li>
    </ul>

    <script>
        console.log('JS');
        var h1 = document.getElementsByTagName('h1');
        h1[1].innerHTML = 'JQ';

        var txtUsername     = document.getElementById('txtUsername');
        var btnTest         = document.getElementById('btnTest');

        btnTest.disabled = true; // désactive le bouton

        txtUsername.addEventListener('keyup', () => {
            if (txtUsername.value.length < 3) {
                btnTest.disabled = true
            } else {
                btnTest.disabled = false
            }
        });

        for (var i = 0; i < h1.length; i++) {
            h1[i].addEventListener('click', (e) => {
                var articles = document.getElementsByTagName('article');
                // cible l'article
                var display = e.target.nextElementSibling.style.display;
                if (!display || display == 'none') {
                    e.target.nextElementSibling.style.display = 'block';
                } else {
                    e.target.nextElementSibling.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>