<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schillick-info</title>
    <link rel="stylesheet" href="schillick-info.css">
</head>
<body>
    <div id="left-wrapper">
        <div id="top-left">
            <div class="section-title">
                <span>Vie</span>
                <span>des paroisses</span>
            </div>
            <img src="https://i.picsum.photos/id/831/200/220.jpg?hmac=jUP9nGqOgr4U6FAZA33M8az5K9h7bZsxQYyAU9vMouU" alt="al1">
        </div>
        <div id="left-mid-wrapper">
            <div id="left-mid-item">
                <div class="block-title">
                    <span class="underligned-title">Communauté de</span>
                    <span class="underligned-title">paroisses catholiques</span>
                </div>
                <div>Notre-Dame de l'immaculée Conception</div>
                <div>03 88 33 07 25</div>
                <ul>
                    <li>
                        <span>En semaine :</span>
                        <span>messe le mardi et le mercredi à 17h</span>
                    </li>
                    <li>Messe le dimanche à 11h</li>
                    <li>
                        <span>Dimanche 4 octobre :</span>
                        <span>messe de rentrée</span>
                    </li>
                </ul>
                <div>A partir du 2 octobre, le groupe
                    «Chrétiens en chemin» vous
                    propose un temps de prière le
                    premier vendredi de chaque
                    mois de l9h30 à 20h30</div>
            </div>
            <div id="left-mid-item">
                <div>Sainte Famille</div>
                <div>03 88 33 07 25</div>
                <ul>
                    <li>
                        <span>En semaine :</span>
                        <span>messe le jeudi et le vendredi à 17h</span>
                    </li>
                    <li>Messe le samedi à 17h30</li>
                    <li>Messe le dimanche à 9h30</li>
                    <li>Messe de la communauté
                        portugaise à 11h</li>
                </ul>
                <div>
                    <span>Dimanche 4 octobre a 14h30
                        au Brassin :jeu collaboratif</span>
                    <span>«La fresque du climat »</span>
                    <span>Venez e’changer sur la maniere
                        dont il est possible de s'engager
                        pour le climat.</span>
                        <span>Entrée libre. Ouvert à tous.</span>
                    </div>
            </div>
            <div id="left-signin-informations">
                <div>Inscriptions au catéchisme :</div>
                <div>vous pouvez joindre le
                    presbytère Ste Famille au
                    03 88 33 O7 25 les mardi et
                    jeudi, mercredi et vendredi
                    après-midi.
                </div>
            </div>
            <div id="left-complementary-info">
                <div class="underligned-title">Paroisse protestante</div>
                <div>03 88 62 34 18</div>
                <div>Informations non parvenues.</div>
            </div>
        </div>
        <div id="left-bottom-wrapper">
            <div>
                Retrouvez tous nos rendez-vous schillikois sur : 
                www.ville-schiltigheim.fr et 
                <span>logo FB</span>
                Ville de Schiltigheim
            </div>
        </div>
    </div>
    <div id="middle-wrapper">
        <div id="mid-banner-wrapper">
            <div id="mid-banner-item">
                <div>Sexto Nepotiani bella urebat Bellona forte perfidia temptentur forte iuge</div>
                <div>
                    Illud tamen clausos vehementer angebat quod captis navigiis, 
                    quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, 
                    ipsi vero solitarum rerum cibos iam consumendo inedia
                </div>
                <img src="https://i.picsum.photos/id/55/360/220.jpg?hmac=kNYmeRzGF9pxrVXXt3RMlE5_gwTX-oZWI9Fw9SoG7M8" alt="al2">
            </div>
            <div>
                Illud tamen clausos vehementer angebat quod captis navigiis, 
                quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis
            </div>
            <div class="mid-banner-item2">
                <div>
                    <span>Sexto Nepotiani bella urebat Bellon</span>
                    <span>forte perfidia temptentur</span>
                </div>
                <div>
                    Illud tamen clausos vehementer angebat quod captis navigiis, 
                    quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, 
                    ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
                </div>
                <div>
                    Illud tamen clausos vehementer angebat quod captis navigiis, 
                    quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, 
                    ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
                </div>
            </div>
            <div class="mid-banner-item2">
                <div>Sexto Nepotiani bella urebat Bellona forte perfidia temptentur forte iuge.</div>
                <div>Sexto Nepotiani bella urebat Bellona forte perfidia temptentur forte iuge.</div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis navigiis, </span>
                    <span>quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant</span>
                </div>
            </div>
            <div class="mid-banner-item2">
                <div>Sexto Nepotiani bella urebat Bellona forte perfidia temptentur forte iuge.</div>
                <div>
                    Illud tamen clausos vehementer angebat quod captis navigiis, 
                    quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, 
                    ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
                </div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis navigiis, </span>
                    <span>quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant</span>
                </div>
            </div>
        </div>
        <div id="mid-bottom-wrapper">
            <div  class="section-title">Sexto Nepotiani bella urebat Bellona</div>
            <div id="mid-bottom-item-wrapper">
                <div class="mid-bottom-item">
                    <div class="underligned-title">samedi à 17h30</div>
                    <div class="underligned-title">Sexto Nepotiani bella</div>
                    <div>
                        <span>quae frumenta vehebant per</span>
                        <span>Illud tamen clausos vehementer angebat quod captis</span>
                        <span>Durée : 10 min</span>
                    </div>
                    <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
                </div>
                <div class="mid-bottom-item">
                    <div class="underligned-title">samedi à 17h30</div>
                    <div class="underligned-title">Sexto Nepotiani bella</div>
                    <div>
                        <span>quae frumenta vehebant per</span>
                        <span>Illud tamen clausos vehementer angebat quod captis</span>
                        <span>Durée : 10 min</span>
                    </div>
                    <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
                </div>
            </div>
        </div>
    </div>
    <div id="right-wrapper">
        <div class="section-title">Sexto Nepotiani</div>
        <div>Sexto Nepotiani bella</div>
        <div>Tarifs : 4.50 euros / - de 16 ans : 3 euros</div>
        <div id="right-item-wrapper">
            <div class="right-item">
                <div class="block-title">
                    <span  class="underligned-title">samedi à 17h30</span>
                    <span class="underligned-title">La bonne épouse</span>
                </div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis</span>
                    <span>Durée : 10 min</span>
                </div>
                <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
            </div>
            <div class="right-item">
                <div class="block-title">
                    <span class="underligned-title">samedi à 17h30</span>
                    <span class="underligned-title">La bonne épouse</span>
                </div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis</span>
                    <span>Durée : 10 min</span>
                </div>
                <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
            </div>
            <div class="right-item">
                <div class="block-title">
                    <span class="underligned-title">samedi à 17h30</span>
                    <span class="underligned-title">La bonne épouse</span>
                </div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis</span>
                    <span>Durée : 10 min</span>
                </div>
                <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
            </div>
            <div class="right-item">
                <div class="block-title">
                    <span class="underligned-title">samedi à 17h30</span>
                    <span class="underligned-title">La bonne épouse</span>
                </div>
                <div>
                    <span>Illud tamen clausos vehementer angebat quod captis</span>
                    <span>Durée : 10 min</span>
                </div>
                <img src="https://i.picsum.photos/id/201/120/160.jpg?hmac=Y-QwVNGnkp6bK2NmfApCxSSEkBr7iGjrqpn0qN1gx6k" alt="al3">
            </div>
        </div>
    </div>
</body>
</html>